// =============================================
// Utilities
// =============================================
$utilities: (
  'width': (
    property: width,
    class: w,
    values: (
      5: 5%,
      10: 10%,
      15: 15%,
      20: 20%,
      25: 25%,
      30: 30%,
      35: 35%,
      40: 40%,
      45: 45%,
      50: 50%,
      55: 55%,
      60: 60%,
      65: 65%,
      70: 70%,
      75: 75%,
      80: 80%,
      85: 85%,
      90: 90%,
      95: 95%,
      100: 100%,
      auto: auto,
    ),
  ),
  'max-width': (
    property: max-width,
    class: mw,
    values: (
      5: 5%,
      10: 10%,
      15: 15%,
      20: 20%,
      25: 25%,
      30: 30%,
      35: 35%,
      40: 40%,
      45: 45%,
      50: 50%,
      55: 55%,
      60: 60%,
      65: 65%,
      70: 70%,
      75: 75%,
      80: 80%,
      85: 85%,
      90: 90%,
      95: 95%,
      100: 100%,
    ),
  ),
  'viewport-width': (
    property: width,
    class: vw,
    values: (
      5: 5vw,
      10: 10vw,
      15: 15vw,
      20: 20vw,
      25: 25vw,
      30: 30vw,
      35: 35vw,
      40: 40vw,
      45: 45vw,
      50: 50vw,
      55: 55vw,
      60: 60vw,
      65: 65vw,
      70: 70vw,
      75: 75vw,
      80: 80vw,
      85: 85vw,
      90: 90vw,
      95: 95vw,
      100: 100vw,
    ),
  ),
  'min-viewport-width': (
    property: min-width,
    class: min-vw,
    values: (
      5: 5vw,
      10: 10vw,
      15: 15vw,
      20: 20vw,
      25: 25vw,
      30: 30vw,
      35: 35vw,
      40: 40vw,
      45: 45vw,
      50: 50vw,
      55: 55vw,
      60: 60vw,
      65: 65vw,
      70: 70vw,
      75: 75vw,
      80: 80vw,
      85: 85vw,
      90: 90vw,
      95: 95vw,
      100: 100vw,
    ),
  ),
  'height': (
    property: height,
    class: h,
    values: (
      5: 5%,
      10: 10%,
      15: 15%,
      20: 20%,
      25: 25%,
      30: 30%,
      35: 35%,
      40: 40%,
      45: 45%,
      50: 50%,
      55: 55%,
      60: 60%,
      65: 65%,
      70: 70%,
      75: 75%,
      80: 80%,
      85: 85%,
      90: 90%,
      95: 95%,
      100: 100%,
      auto: auto,
    ),
  ),
  'max-height': (
    property: max-height,
    class: mh,
    values: (
      5: 5%,
      10: 10%,
      15: 15%,
      20: 20%,
      25: 25%,
      30: 30%,
      35: 35%,
      40: 40%,
      45: 45%,
      50: 50%,
      55: 55%,
      60: 60%,
      65: 65%,
      70: 70%,
      75: 75%,
      80: 80%,
      85: 85%,
      90: 90%,
      95: 95%,
      100: 100%,
    ),
  ),
  'viewport-height': (
    property: height,
    class: vh,
    values: (
      5: 5vh,
      10: 10vh,
      15: 15vh,
      20: 20vh,
      25: 25vh,
      30: 30vh,
      35: 35vh,
      40: 40vh,
      45: 45vh,
      50: 50vh,
      55: 55vh,
      60: 60vh,
      65: 65vh,
      70: 70vh,
      75: 75vh,
      80: 80vh,
      85: 85vh,
      90: 90vh,
      95: 95vh,
      100: 100vh,
    ),
  ),
  'min-viewport-height': (
    property: min-height,
    class: min-vh,
    values: (
      5: 5vh,
      10: 10vh,
      15: 15vh,
      20: 20vh,
      25: 25vh,
      30: 30vh,
      35: 35vh,
      40: 40vh,
      45: 45vh,
      50: 50vh,
      55: 55vh,
      60: 60vh,
      65: 65vh,
      70: 70vh,
      75: 75vh,
      80: 80vh,
      85: 85vh,
      90: 90vh,
      95: 95vh,
      100: 100vh,
    ),
  ),
);
