// =============================================
// Custom colors:
// =============================================

$white: #fff;
$gray-100: #f5f5f5;
$gray-200: #eeeeee;
$gray-300: #e0e0e0;
$gray-400: #bdbdbd;
$gray-500: #9e9e9e;
$gray-600: #757575;
$gray-700: #545d6d;
$gray-800: #2b3442;
$gray-900: #1b1b1b;
$black: #000;

$primary: #6495ed;
$secondary: #2668ba;
$success: #198754;
$info: #0dcaf0;
$warning: #ffc107;
$danger: #b71c1c;
$light: #f0f5fd;
$dark: #121b2b;
